.current-weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-height: calc(100% - 70px);

    .city-name {
        font-size: $fontXl;
        margin-bottom: toRem(16);

        @include breakpoint-up(large) {
            font-size: toRem(50);
        }
    }

    &__temp {
        font-size: $fontXxl;
        margin: toRem(16) auto;
        @include breakpoint-up(large) {
            font-size: toRem(120);
        }

        &__unit {
            font-size: $fontNormal;
            vertical-align: top;
            @include breakpoint-up(large) {
                font-size: toRem(24);
            }
        }
    }

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__desc {
            font-size: $fontLg;
            @include breakpoint-up(large) {
                font-size: toRem(24);
            }
        }
    }
}